/* $Id: dmail.rc,v 1.2 2005/06/08 15:53:52 crazybonz Exp $ */


/* OS/2 Warp Resource Script File - Created by Universal Resource Editor */

#define INCL_WINSYS
#define INCL_WINSTDDLGS
#define INCL_WINSTDSPIN
#define INCL_NLS
#define INCL_SW

#include <os2.h>

#include "dmail.h"


BITMAP NEWTAB          "os2\\chkmail.bmp"
BITMAP REMOVETAB       "os2\\sndmail1.bmp"
BITMAP CONNECT         "os2\\connect.bmp"
BITMAP DISCONNECT      "os2\\disconnect.bmp"
BITMAP IDM_EXIT        "os2\\exit.bmp"
BITMAP ADDTOQ          "os2\\queue.bmp"
BITMAP REMOVEFROMQ     "os2\\unqueue.bmp"
BITMAP FLUSHQ          "os2\\flush.bmp"
BITMAP SAVETITLE       "os2\\save.bmp"
BITMAP UNSAVETITLE     "os2\\unsave.bmp"
BITMAP ADMIN           "os2\\admin.bmp"
BITMAP PB_CHANGE       "os2\\change.bmp"
BITMAP IDM_PREFERENCES "os2\\preferences.bmp"
BITMAP IDM_GENERALHELP "os2\\help.bmp"
BITMAP IDM_ABOUT       "os2\\about.bmp"

BITMAP      LOGO "os2\\dmail-chrome.bmp"

ICON MAIN_FRAME "os2\\dmail005.ico"
ICON FILEICON   "os2\\FILE.ICO"
ICON FOLDERICON "os2\\FOLDER.ICO"
ICON LINKICON "os2\\LINK.ICO"

